@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap');


body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}